
/* Content Styles */

.faq-content {
    font-family: "Times New Roman";
    margin-top: 3%;
    padding-left: 6%;
    width: 65%;
    font-weight: 300;
    font-size: 18px;
}

.faq-ul {
    padding-left: 3%;
}




